:root {
    --font-monospace: 'Courier Prime', monospace;
    --black: #000;
    --white: #fff;
    --white-darker: #F7f5f2;
    --gray: #aca199;
    --yellow: #f7be00;
    --purple: #9578d3;
    --blue: #0099a8;
    --wine-red: #971533;
    --orange: #ff5200;
    --green: #72d64c;
    --forest-green: #006548;
    --red: #ee3a45;
    --blue-dark: #192d4d;
    --pink: #ff8189;
    --h1-font-size: 2.5rem;
    --h2-font-size: 2.5rem;
    --h3-font-size: 1.6rem;
    --h4-font-size: 1.6rem;
    --body-font-size: 1rem;
}

@font-face {
  font-family: 'Baskerville Bold';
  src: url('fonts/BaskervilleBoldBT.ttf');
  font-weight: bold;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  /* typography */

h1, h2, h3, h4 {
    text-transform: uppercase;
  }

h1 {
    font-size: 2.5rem;
  }

h2 {
    font-size: 2.5rem
  }

h3 {
    font-size: 1.6rem;
  }

h4 {
    font-size: 1.6rem;
  }

body {
    font-family: var(--font-monospace);
    line-height: 1.5;
    font-size: 1rem;
    background-color: var(--white-darker);
    border-right: 1px solid var(--black);
    margin: 0;
    padding: 0;
    max-width: 100%;
  }

p {
    line-height: 1.5;
  }

img {
    display: block;
    max-width: 100%;
  }

  a {
    text-decoration: none;
    text-transform: uppercase;
  }

  /* buttons */ 

  .btn {
    display: inline-flex;
    font-size: 0.875rem;
    font-weight: 700;
    width: fit-content;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    text-align: center;
    padding: 0.9375rem 1.25rem;
    border: 1px solid var(--black);
    letter-spacing: 0.10rem;
    gap: 10px;
    cursor: pointer;
    line-height: 1;
    letter-spacing: inherit;
    
  }

  .btn--secondary {
    background-color: var(--white);
    font-weight: 700;
    color: var(--black);
    border: none;
  }

  .btn--primary {
    background-color: var(--black);
    color: var(--white);
    font-weight: 700;
  }

/* header */

.header {
    margin: 0;
}

.header__container--top:hover {
    background-color: var(--white);
    color: var(--black);
}

.header__container--top:hover .heading__banner {
  color: var(--black);
}

.header__container--top:hover #wordmark {
  color: var(--black);
}

.header__container--top:hover .nav__list a {
  color: var(--black);
}

.header__container--top:hover .side-nav__icon {
  color: var(--black);
}

.heading__banner {
    width: 100%;
    color: var(--white);
    text-align: center;
    font-weight: bold;
    padding: 1rem 0;
    margin: 0;
}

#wordmark {
    width: 20rem;
    height: auto;
    text-align: center;
    align-self: center;
    padding: 0 1.5rem;
    color: var(--white);
}

.nav__list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-self: center;
    border-left: 1px solid black;
}

.nav__list li {
  margin: 0 1.5rem;
}

.nav__list--right {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    border-left: 1px solid black;
}

.nav__list--right li {
  padding: 0 1rem;
}

.nav__list a {
    color: var(--white);
}

.main-nav__icon {
    padding: 0.75rem;
  }

.page__title {
    text-align: center;
    font-size: 2rem;
    font-weight: normal;
}

.nav {
    display: flex;
    flex: column nowrap;
    justify-content:space-between;
    border: 1px solid var(--black);
}

.side-nav__icon {
  color: var(--white);
}

/* hero section */


/* info grid */

.info-grid {
  display: grid;
  max-width: 100%;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  background-color: white;
}

svg {
  x: 0px;
  y: 0px;
  width: 64px;
  height: 64px;
}

.card {
  border: 1px solid black;
  text-align: center;
  height: 400px;
  padding: 2rem 2.5rem;
}

.card h3 {
  line-height: 1.22em;
}

/* picture and info section */

.info-flex__container {
  max-width: 100%;
  display: flex;
  flex: row nowrap;
  border-bottom: 1px solid var(--black);
}

.info-flex__img {
  width: 50%;
  border-right: 1px solid var(--black);
}

.info-flex__bodycopy {
  padding: 0 5rem;
}

/* image grid -- venues */

.section-banner__title {
  text-align: center;
}

.img-grid {
  display: grid;
  width: 100%;
  max-width: 100%;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

.grid__card {
  border: 1px solid var(--black);
  height: 35rem;
  
}

.grid__card h3 {
  text-align: left;
  padding: 0 1.5rem;
  margin: 0;
}

.grid__card a {
  float: left;
  margin-left: 1.25rem;
}

.grid-card__img {
  display: block;
  text-align: center;
  width: 35rem;
  height: auto;
  padding: 1.5rem;
}

.btn--tap {
  margin: 2.5rem;
}

.btn--barrel {
  margin: 0.25rem;
}

.btn--more {
  margin: 2.5rem;
}

/* counter section */

.counter {
  background-image: url("../img/counter-img.webp");
  width: 100%;
  max-width: 100%;
  height: 50rem;
  padding: 0;
  margin: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  border-bottom: 1px solid var(--black);
}

#counter__title {
  font-size: 1.88rem;
  text-align: center;
  padding: 3rem 0;
}

.counter__txt {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
} 

.counter__txt--character {
  font-size: 3.13rem;
  font-weight: 400;
  background: var(--white);
  padding: 3rem;
  margin: 0.5rem;
}

.counter__label {
  background-color: var(--forest-green);
  color: var(--white);
  text-transform: uppercase;
  font-size: 1.57rem;
  padding: 0.25rem;
  width: 50rem;
  margin: 0 auto;
  text-align: center;
  transform: translate(-50%) rotate(-5deg);
  position: relative;
  left: 30%;
}

#counter__txt--body {
  text-align: center;
  padding: 3rem 20rem;

}

/* press logo section */

.press-logo__container {
  display: flex;
  justify-content: space-around;
  padding: 5rem;
  border-bottom: 1px solid var(--black);
}

.press__logo {
  width: 10rem;
  height: auto;
}

.pic-info-section__txt {
  display: flex;
  flex: column nowrap;
  text-align: center;
}

/* subscription section */

.info-flex__container--sub {
  border-bottom: 1px solid var(--black);
}

/* reviews section */

.reviews__title {
  font-size: 2rem;
}

.info-flex__container--reviews {
  position: absolute;
}

.review-section {
  position: relative;
  margin: 15rem 20rem;
  display: flex;
  gap: 1.5rem;
}

.review__card {
  background-color: var(--white);
  height: 18rem;
  width: 17rem;
  border: 1px solid var(--black);
}

.review__container--rating {
  display: flex;
  justify-content: space-between;
}

.reviewer-name {
  padding: 0 1rem;
}

.star {
  width: 1rem;
}

.review__img--stars {
  display: flex;
  padding: 0 1rem;
}

.review__container--verified {
  display: flex;
  justify-content: left;
  margin-left: 1rem;
}

.verified__icon {
  width: 1rem;
}

.verified__txt {
  font-size: 0.75rem;
  margin-left: 0.5rem;
}

.review__txt {
  font-size: 0.9rem;
  padding: 1rem;
}

.review__txt--location {
  font-size: 0.7rem;
  font-weight: bold;
  padding: 1rem;
}