<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Components | Wiper and True</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <h1>Wiper and True Web Components</h1>

    <h2>Typography Defaults</h2>

    <article class="component">
    <h3 class="component__name">Body</h3>
    <div class="component__img">
        <img 
            srcset="img/body-copy.png 2x" 
            src="img/body-copy.png" alt="body copy"
        >
    </div>
    <div class="component__code">
        <p>Michael Wiper, tells the story of Kaleidoscope, his initial skepticism of the beer 
            and how it became&nbsp;Wiper and True's bestseller. Now, we celebrate&nbsp;our 11th 
            birthday and introduce KaleiDIPA, a double-strength IPA version of Kaleidoscope.
        </p>
    </div>
    </article>

    <article class="component">
        <h3 class="component__name">Headings</h3>
        <div class="component__img">
            <img 
                srcset="img/heading--h1.png 2x" 
                src="img/heading--h1.png" alt="heading 1"
            >
            <img 
                srcset="img/heading--h2.png 2x" 
                src="img/heading--h2.png" alt="heading 2"
            >
            <img 
                srcset="img/heading--h3.png 2x" 
                src="img/heading--h3.png" alt="heading 3"
            >
            <img 
                srcset="img/heading--h4.png 2x" 
                src="img/heading--h4.png" alt="heading 4"
            >
        </div>
        <div class="component__code">
          <h1>Bestsellers</h1>
          <h2>Beautiful Beer</h2>
          <h3>Today | Lemondrop Hill</h3>
          <h4>&#163;11.50 | 4.8% ABV</h4>
        </div>
        </article>

        <article class="component">
            <h3 class="component__name">Links</h3>
            <div class="component__img">
                <img 
                    srcset="img/heading--h1.png 2x" 
                    src="img/heading--h1.png" alt="heading 1"
                >
            </div>
            <div class="component__code">
             Code here
            </div>
            </article>



</body>
</html>