<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Components | Wiper and True</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <h1>Web Components Go Here</h1>

    <h2>Typography Defaults</h2>

    <article class="component">
    <h3 class="component__name">Body</h3>
    <img 
        srcset="img/body-copy.png 2x" 
        src="img/body-copy.png" alt="body copy"
    >
    <div class="component__code">
        <p>Michael Wiper, tells the story of Kaleidoscope, his initial skepticism of the beer 
            and how it became&nbsp;Wiper and True's bestseller. Now, we celebrate&nbsp;our 11th 
            birthday and introduce KaleiDIPA, a double-strength IPA version of Kaleidoscope.
        </p>
    </div>
    </article>

</body>
</html>