:root {
    --font-monospace: 'Courier Prime', monospace;
    --black: #000;
    --white: #fff;
    --white-darker: #F7f5f2;
    --gray: #aca199;
    --yellow: #f7be00;
    --purple: #9578d3;
    --blue: #0099a8;
    --wine-red: #971533;
    --orange: #ff5200;
    --green: #72d64c;
    --forest-green: #006548;
    --red: #ee3a45;
    --blue-dark: #192d4d;
    --pink: #ff8189;
    --h1-font-size: 2.5rem;
    --h2-font-size: 2.5rem;
    --h3-font-size: 1.6rem;
    --h4-font-size: 1.6rem;
    --body-font-size: 1rem;
}

@font-face {
  font-family: 'Baskerville Bold';
  src: url('fonts/BaskervilleBoldBT.ttf');
  font-weight: bold;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  /* typography */

  h1, h2, h3, h4 {
    text-transform: uppercase;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2.5rem
  }

  h3 {
    font-size: 1.6rem;
  }

  h4 {
    font-size: 1.6rem;
  }

  body {
    font-family: var(--font-monospace);
    line-height: 1.5;
    font-size: 1rem;
    background-color: var(--white-darker);
    margin: 0 1rem;
  }

  p {
    line-height: 1.5;
  }

  img {
    display: block;
    max-width: 100%;
  }

  #components-page__title {
    text-align: center;
    border-bottom: 5px solid var(--black);
  }

  .components-page__subtitle {
    margin: 0 0 2rem 10rem;
    border-bottom: 1px solid var(--black);
  }

  article {
    margin: 3rem 10rem;
  }

  .components img {
    max-width: initial;
  }

  .component__img {
    overflow-x: auto;
    margin: 1rem 0;
  }

  .component__img--outlined {
    border: 1px solid black;
  }

  .component__name {
    margin: 1rem 0;
    color: var(--yellow);
  }

  .component__code {
    padding: 1rem;
  }

  .component__code--outlined {
    border: 1px solid var(--yellow);
  }

  #wordmark {
    text-transform: uppercase;
    text-align: center;
    font-family: 'Baskerville Bold', serif;
    font-size: 2rem;
    border-bottom: 4px solid var(--black);
    background: var(--white);
  }

  .wordmark-container {
    width: 26rem;
    border: 1px solid var(--yellow);
  }

  /* buttons */ 

  .btn {
    display: inline-flex;
    font-size: 0.875rem;
    font-weight: 700;
    width: fit-content;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    text-align: center;
    padding: 0.9375rem 1.25rem;
    border: 1px solid var(--black);
    letter-spacing: 0.10rem;
    gap: 10px;
    cursor: pointer;
    line-height: 1;
    letter-spacing: inherit;
    
  }

  .btn--secondary {
    background-color: var(--white);
    font-weight: 700;
  }

  .btn--primary {
    background-color: var(--black);
    color: var(--white);
    font-weight: 700;
  }

  /* navigation */

  .main-nav__list {
    list-style-type: none;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--black);
    background: var(--white);
  }

  a {
    text-transform: uppercase;
    color: var(--black);
    text-decoration: none;
    font-size: 1rem;
  }

  .main-nav__icon {
    padding: 0.75rem;
  }


  .side-nav__list {
    list-style-type: none;
    padding: 0;
    display: flex;
    border: 1px solid var(--black);
    width: 15rem;
    justify-content: space-evenly;
    background: var(--white);
  }

  .side-nav__icon {
    padding: 1.5rem 0;
  }

  .banner__txt {
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-size: 1.25rem;
    background: var(--white);
    padding: 1rem 0;
    border: 1px solid var(--black);
    letter-spacing: 0.12rem;
  }

  .icon {
    margin: 0 auto;
  }

  /* grid */

  .card {
    text-align: center;
    background: var(--white);
    padding: 3.125rem 2.25rem;
    width: 24rem;
    height: 26rem;
    border-left: 1px solid var(--black);
    border-top: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
    padding: 3.125rem 3.75rem;
    text-align: center;
    background-color: var(--white);
    font-size: smaller;
    margin-bottom: 1.25rem;
  }

  #card--example {
    border-right: 1px solid var(--black);
  }



  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  /* primary info section */

  .info-section {
    display: flex;
    padding: 0 1.5rem;
  }

  .info-section img {
    width: 50%;
  }

  .info-section h2 {
    padding-bottom: 0;
  }

  .info-section__txt-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 2.5rem 0 0;
  }

  /* counter section */

  .counter {
    position: relative;
  }

  .counter__txt {
    display: flex;
  }

  #counter__title {
    font-size: 1.88rem;
    margin-bottom: 30px;
  }

  .counter__txt--character {
    font-size: 3.13rem;
    font-weight: 400;
    background: var(--white);
    padding: 3rem;
    margin: 0.5rem;
  }

  .counter__label {
    background: var(--forest-green);
    color: var(--white);
    width: max-content;
    position: absolute;
    top: 80%;
    left: 60%;
    transform: translate(-50%) rotate(-5deg);
    
  }

  .counter__label-txt {
    font-size: 1.57rem;
    padding: 10px 15px;
    text-transform: uppercase;
  }

  #below-counter {
    margin-top: 10rem;
  }

  /* footer */

  .social-media {
    list-style-type: none;
    padding: 0;
    display: flex;
  }

  .social-media li {
    padding: 0 0.75rem;
  }

  .footer-banner__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: smaller;
    background: var(--white);
  }

  .footer-banner__text {
    display: flex;
  }

  #footer-link__img {
    display: inline-block;
    width: 5rem;
    object-position: bottom center;
  }

  svg {
    display: inline;
  }

  .social-media__list {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
  }
  