:root {
    --font-monospace: 'Courier Prime', monospace;
    --black: #000;
    --white: #fff;
    --white-darker: #F7f5f2;
    --gray: #aca199;
    --yellow: #f7be00;
    --purple: #9578d3;
    --blue: #0099a8;
    --wine-red: #971533;
    --orange: #ff5200;
    --green: #72d64c;
    --red: #ee3a45;
    --blue-dark: #192d4d;
    --pink: #ff8189;
    --h1-font-size: 2.5rem;
    --h2-font-size: 2.5rem;
    --h3-font-size: 1.6rem;
    --h4-font-size: 1.6rem;
    --body-font-size: 1rem;
}

@font-face {
  font-family: 'Baskerville Bold';
  src: url('fonts/BaskervilleBoldBT.ttf');
  font-weight: bold;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  h1, h2, h3, h4 {
    text-transform: uppercase;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2.5rem
  }

  h3 {
    font-size: 1.6rem;
  }

  h4 {
    font-size: 1.6rem;
  }

  body {
    font-family: var(--font-monospace);
    line-height: 1.5;
    font-size: 1rem;
    background-color: var(--white-darker);
    margin: 0 1rem;
  }

  img {
    display: block;
    max-width: 100%;
  }

  #components-page__title {
    text-align: center;
    border-bottom: 5px solid var(--black);
  }

  .components-page__subtitle {
    margin: 0 0 2rem 10rem;
  }

  article {
    width: 50rem;
    margin: 0 0 2rem 10rem;
  }

  .components img {
    max-width: initial;
  }

  .component__img {
    border: 1px solid black;
    overflow-x: auto;
    margin: 1rem 0;
  }

  .component__name {
    margin: 1rem 0;
    color: var(--yellow);
  }

  .component__code {
    border: 1px solid var(--yellow);
    padding: 1rem;
  }

  #wordmark {
    text-transform: uppercase;
    text-align: center;
    font-family: 'Baskerville Bold', serif;
    font-size: 2rem;
    border-bottom: 4px solid var(--black);
    background: var(--white);
  }

  .wordmark-container {
    width: 26rem;
    border: 1px solid var(--yellow);
  }


  .main-nav__list {
    list-style-type: none;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--black);
    background: var(--white);
  }

  a {
    text-transform: uppercase;
    color: var(--black);
    text-decoration: none;
    font-size: 0.75rem;
  }

  .main-nav__icon {
    padding: 0.75rem;
  }


  .side-nav__list {
    list-style-type: none;
    padding: 0;
    display: flex;
    border: 1px solid var(--black);
    width: 15rem;
    justify-content: space-evenly;
    background: var(--white);
  }

  .side-nav__icon {
    padding: 1.5rem 0;
  }

  .banner__txt {
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-size: 1.25rem;
    background: var(--white);
    padding: 1rem 0;
    border: 1px solid var(--black);
    letter-spacing: 0.12rem;
  }



  

 